body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #000000;
    color: white;
  }
  
  footer, header {
    background-color: #3e3e3e;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    font-size: 2em;
    margin: 0;
    color: white;
  }
  
  #search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: rgb(102, 99, 99);
  }
  
  button {
    background-color: #ff6a00;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  main {
    padding: 20px;
  }
  a {
    color: rgb(255, 255, 255);
  }  

  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(86, 86, 86, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #popup {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255)
  }

  b {
    color: red;
  }